body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #0466c8; /* Primary color */
    color: white;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.card-link{
    text-decoration: none;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    font-size: 18px;
    margin: 10px 0;
}

header img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    display: block;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #0466c8;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #0466c8; /* Secondary color */
    margin-bottom: 15px;
}

.section p {
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}